body{
    background-color: #f3f3f3;
    margin: 0;
    font-family: Arial;
}

header{
    margin: 0;
    margin-bottom: -5px;
    padding: auto;
}

header>img,footer>img{
    width: 100%;
}

main{
    margin: 0 195px;
}

main>header>h1{
    font-weight: 400;
    font-size: 24px;
}

.flowplayer{
    display: inline-block;
    width: 670px;
}

#tutorialDesc{
    display: inline-block;
    margin-left: 15px;
    max-height: 375px;
    padding-right: 5px;
    overflow: auto;
    vertical-align: top;
    width: 220px;
}

